
@media only screen and (max-width: 600px) {
  .ul{
    padding:0px;
  }

}

.App-header {
  background-color:lightcoral;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: black;
}

div.flexColumns:nth-of-type(1) {
 flex: 1;
 justify-content: center;
}

div.flexColumns:nth-of-type(2) {
  flex: 8;
  text-align: center;
 }
 div.flexColumns:nth-of-type(3) {
  flex: 1;
 }

.TodoList {
 display: flex;
 padding: 2px;
 flex-direction: column;
 text-align: center;  
}

.TodoListRow1 {
  padding: 10px;
}

.TodoListRow2 {
  padding: 10px;
}
.TodoListRow3 {
  padding: 10px;
}
.spaceList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;  
}
.spaceListCol1 {
  padding: 5px;
}
.spaceListCol2 {
  padding: 5px;
}
.spaceListCol3 {
  padding: 5px;
  justify-content: center;
}
.nav {
  background-color: rgb(0, 128, 11);
  font-size: calc(5px + 3vmin);
}
.ul {
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height:1000px;
  
}
.list{
  color: #fff;
  font-size: 1vw;
  margin: 20px auto;
  background-color: lightcoral;
}


